# 1) Store and display student information (name, age, grade).

In [1]:
# Define a class to store student information
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def display_info(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")
        print(f"Grade: {self.grade}")
        print("-" * 20)

# Create a list to hold student objects
students = []

# Add student records
students.append(Student("Alice", 14, "9th Grade"))
students.append(Student("Bob", 15, "10th Grade"))
students.append(Student("Charlie", 13, "8th Grade"))

# Display all student records
print("Student Information:")
for student in students:
    student.display_info()

Student Information:
Name: Alice
Age: 14
Grade: 9th Grade
--------------------
Name: Bob
Age: 15
Grade: 10th Grade
--------------------
Name: Charlie
Age: 13
Grade: 8th Grade
--------------------

# 2) List prices of grocery items and total them.

In [2]:
# Dictionary to store grocery items and their prices
grocery_items = {
    "Milk": 40,
    "Bread": 25,
    "Eggs": 60,
    "Rice": 80,
    "Fruits": 100
}

# Display items and prices
print("Grocery Items and Prices:")
for item, price in grocery_items.items():
    print(f"{item}: ₹{price}")

# Calculate the total price
total = sum(grocery_items.values())
print("\nTotal Price: ₹", total)

Grocery Items and Prices:
Milk: ₹40
Bread: ₹25
Eggs: ₹60
Rice: ₹80
Fruits: ₹100

Total Price: ₹ 305

# 3) Pair items with prices using tuples.
(&quot;Milk&quot;, 25), (&quot;Eggs&quot;, 50), (&quot;Bread&quot;, 20)

In [3]:
# List of tuples containing item and price
grocery_items = [("Milk", 25), ("Eggs", 50), ("Bread", 20)]

# Display items with prices
print("Grocery Items and Prices:")
for item, price in grocery_items:
    print(f"{item}: ₹{price}")

# Calculate total price
total = sum(price for item, price in grocery_items)
print("\nTotal Price: ₹", total)

Grocery Items and Prices:
Milk: ₹25
Eggs: ₹50
Bread: ₹20

Total Price: ₹ 95

# 4) Store and display train schedule as tuples.
(&quot;Rajdhani&quot;, &quot;10:00&quot;), (&quot;Shatabdi&quot;, &quot;12:30&quot;), (&quot;Duronto&quot;, &quot;17:00&quot;)

In [4]:
# List of tuples: (Train Name, Departure Time)
train_schedule = [
    ("Rajdhani", "10:00"),
    ("Shatabdi", "12:30"),
    ("Duronto", "17:00")
]

# Display the train schedule
print("Train Schedule:")
for train, time in train_schedule:
    print(f"{train} - Departure at {time}")

Train Schedule:
Rajdhani - Departure at 10:00
Shatabdi - Departure at 12:30
Duronto - Departure at 17:00

# 5) Sort employee records by salary.
(&quot;John&quot;, 40000), (&quot;Alice&quot;, 55000), (&quot;Raj&quot;, 30000)

In [5]:
# List of tuples: (Employee Name, Salary)
employees = [("John", 40000), ("Alice", 55000), ("Raj", 30000)]

# Sort the list by salary (2nd element in tuple)
sorted_employees = sorted(employees, key=lambda x: x[1])

# Display sorted employee records
print("Employees Sorted by Salary:")
for name, salary in sorted_employees:
    print(f"{name}: ₹{salary}")

Employees Sorted by Salary:
Raj: ₹30000
John: ₹40000
Alice: ₹55000

# 6) Count how many students scored above 75 marks.
marks = (67, 88, 92, 74, 76, 55)

In [6]:
# Tuple of student marks
marks = (67, 88, 92, 74, 76, 55)

# Count how many marks are above 75
count = sum(1 for mark in marks if mark > 75)

# Display result
print(f"Number of students who scored above 75: {count}")

Number of students who scored above 75: 3

# 7) Create a tuple of stock prices and find the max.
Prices = (154.5, 160.2, 149.8, 170.1)

In [7]:
# Tuple of stock prices
prices = (154.5, 160.2, 149.8, 170.1)

# Find the maximum stock price
max_price = max(prices)

# Display the result
print(f"Maximum stock price: ₹{max_price}")

Maximum stock price: ₹170.1

# 8) Log temperature readings during the day. Find the average temperature
temperatures = (29.5, 30.0, 32.2, 31.5, 28.9)

In [8]:
# Tuple of temperature readings during the day
temperatures = (29.5, 30.0, 32.2, 31.5, 28.9)

# Calculate the average temperature
average_temp = sum(temperatures) / len(temperatures)

# Display the average temperature
print(f"Average Temperature of the Day: {average_temp:.2f}°C")

Average Temperature of the Day: 30.42°C

# 9) Schedule appointments (name, time).
appointments = (&quot;Doctor&quot;, &quot;10:00 AM&quot;), (&quot;Meeting&quot;, &quot;2:00 PM&quot;)

In [9]:
# List of appointment tuples: (Appointment Name, Time)
appointments = [("Doctor", "10:00 AM"), ("Meeting", "2:00 PM")]

# Display the scheduled appointments
print("Scheduled Appointments:")
for name, time in appointments:
    print(f"{name} at {time}")

Scheduled Appointments:
Doctor at 10:00 AM
Meeting at 2:00 PM

# 10) Store contact info (name, phone number).
contacts = (&quot;Anil&quot;, &quot;9876543210&quot;), (&quot;Priya&quot;, &quot;9123456780&quot;)

In [10]:
contacts = [("Anil", "9876543210"), ("Priya", "9123456780")]

# Example: Print all contacts
for name, phone in contacts:
    print(f"Name: {name}, Phone: {phone}")

Name: Anil, Phone: 9876543210
Name: Priya, Phone: 9123456780

# 11) Display exam schedule with subject and time.
exams = (&quot;Math&quot;, &quot;9:00 AM&quot;), (&quot;Science&quot;, &quot;11:30 AM&quot;), (&quot;English&quot;, &quot;2:00 PM&quot;)

In [11]:
# Storing exam schedule as a list of tuples
exams = [("Math", "9:00 AM"), ("Science", "11:30 AM"), ("English", "2:00 PM")]

# Displaying the schedule
print("Exam Schedule:")
for subject, time in exams:
    print(f"{subject} exam is at {time}")

Exam Schedule:
Math exam is at 9:00 AM
Science exam is at 11:30 AM
English exam is at 2:00 PM