# Basic Set Programs

# 1. Create a set and display its elements

In [1]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

# Displaying the elements of the set
print("Elements of the set are:", my_set)

Elements of the set are: {1, 2, 3, 4, 5}

# 2. Add an element to a set

In [2]:
# Creating a set
my_set = {10, 20, 30}

# Adding an element to the set
my_set.add(40)

# Displaying the updated set
print("Updated set:", my_set)

Updated set: {40, 10, 20, 30}

# 3. Remove an element from a set

In [3]:
# Creating a set
my_set = {100, 200, 300}

# Removing an element
my_set.remove(200)

# Displaying the updated set
print("Set after removal:", my_set)

Set after removal: {100, 300}

# 4. Clear all elements from a set

In [4]:
my_set = {1, 2, 3}
my_set.clear()
print("Set after clearing:", my_set)

Set after clearing: set()

# 5. Copy a set to another set

In [5]:
original_set = {10, 20, 30}
copied_set = original_set.copy()
print("Copied set:", copied_set)

Copied set: {10, 20, 30}

# 6. Check if an element exists in a set

In [6]:
my_set = {5, 10, 15}
if 10 in my_set:
    print("10 exists in the set")
else:
    print("10 does not exist in the set")

10 exists in the set

# 7. Find the length of a set

In [7]:
my_set = {1, 2, 3, 4}
print("Length of set:", len(my_set))

Length of set: 4

# 8. Iterate through a set using a loop

In [8]:
my_set = {"apple", "banana", "cherry"}
for item in my_set:
    print(item)

banana
cherry
apple

# Set Operations

# 9. Find the union of two sets

In [9]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

# 10. Find the intersection of two sets

In [10]:
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

Intersection: {3}

# 11. Find the difference between two sets

In [11]:
difference_set = set1.difference(set2)
print("Difference (set1 - set2):", difference_set)

Difference (set1 - set2): {1, 2}

# 12. Find the symmetric difference between two sets

In [12]:
sym_diff_set = set1.symmetric_difference(set2)
print("Symmetric Difference:", sym_diff_set)

Symmetric Difference: {1, 2, 4, 5}

# 13. Check if one set is a subset of another

In [13]:
small_set = {1, 2}
print("Is small_set a subset of set1?", small_set.issubset(set1))

Is small_set a subset of set1? True

# 14. Check if one set is a superset of another

In [14]:
print("Is set1 a superset of small_set?", set1.issuperset(small_set))

Is set1 a superset of small_set? True

# 15. Check if two sets are disjoint

In [15]:
set3 = {6, 7}
print("Are set1 and set3 disjoint?", set1.isdisjoint(set3))

Are set1 and set3 disjoint? True

# Set Application

# 16. Remove duplicates from a list using a set

In [16]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_items = set(my_list)
print("List after removing duplicates:", unique_items)

List after removing duplicates: {1, 2, 3, 4, 5}

# 17. Convert a list to a set and back to a list

In [17]:
original_list = [1, 2, 2, 3]
converted_set = set(original_list)
new_list = list(converted_set)
print("Converted list:", new_list)

Converted list: [1, 2, 3]

# 18. Find common elements in two lists using sets

In [19]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common = set(list1).intersection(list2)
print("Common elements:", common)

Common elements: {3, 4}

# 19. Get elements in one list but not in another using sets

In [20]:
only_in_list1 = set(list1).difference(list2)
print("Elements in list1 but not in list2:", only_in_list1)

Elements in list1 but not in list2: {1, 2}

# 20. Use set comprehension to generate a set (e.g., squares or primes)

In [21]:
squares = {x**2 for x in range(1, 6)}
print("Set of squares:", squares)

Set of squares: {1, 4, 9, 16, 25}

# Frozen Set Programs

# 21. Create and print a frozenset

In [22]:
my_frozenset = frozenset([10, 20, 30, 40])
print("Frozenset:", my_frozenset)

Frozenset: frozenset({40, 10, 20, 30})